<div class="card">
    <div class="card-header">
        <h3 class="fw-bold">شارژ کیف پول</h3>
    </div>
    <div class="card-body">

        <form action="../../../app/Modules/Domain/wallet/src/Wallet.php" method="POST">
            <div class="mb-3">
                <label>مقدار شارژ (ریال)</label>
                <input type="number" name="amount" class="form-control" />
            </div>
            <div class="mb-3">
                <div
                        class="form-check form-switch"
                >
                    <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                    >
                        قوانین و مفررات زا تایید میکنم.
                    </label>
                    <input
                            class="form-check-input bs-popover-start"
                            type="checkbox"
                            name="policy"
                            id="flexSwitchChecked"
                    >
                </div>
            </div>
            <div class="mb-3">
                <button
                        type="submit"
                        name="save_student_btn"
                        class="btn btn-primary w-100"
                        value="true"
                >
                    تایید و پرداخت
                </button>
            </div>
        </form>

    </div>
</div>
